@import url('main/reset.css');
@import url('main/fonts.css');
@import url('main/defaults.css');

@import url('main/header.css');
@import url('main/container.css');
@import url('main/footer.css');

@import url('main/buttons.css');
@import url('main/dropbox.css');

/* ------ OTHER CUSTOM STYLES ------ */

.black{
	color: black !important;
}

.white{
	color: white !important;
}

.red{
	color: red !important;
}

.green{
	color: green !important;
}

.blue{
	color: blue !important;
}


.line{
	background: #CCC;
	width: 100%;
	height: 1px;
	margin: 10px 0;
	position: relative;
}

.rotate_90_left{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.rotate_90_right{
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.rotate_180{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}