.chosen-container *, .chosen-rtl .chosen-search input[type="text"]{
	font-family: tahoma;
	font-size: 11px;
}

.chosen-container .chosen-drop{
	right: -9999999px;
}

.chosen-container-single .chosen-single{
	height: 30px;
	line-height: 25px;
}

.chosen-container{
	width: auto !important;
}

.chosen-rtl.chosen-container-single .chosen-single div b{
	background-position: 3px 3px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -15px 3px;
}

.chosen-rtl{
	margin-bottom: 10px;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
	font: normal 11px Tahoma;
}