.button3d{
	border: 0px;
	padding: 8px;
	font: normal 13px 'WYekan', B Yekan, Tahoma;
	background: #ddd;
	border-radius: 5px;
	border-bottom: 3px solid #999;
	transition: all .3s;
}

	.button3d:hover{
		background: #eee;
		cursor: pointer;
	}
	
	.button3d:active{
		box-shadow: inset 0px 3px 3px #555;
	}
	
.button3d.large{
	border: 0px;
	padding: 12px;
	font-size: 20px;
	border-radius: 7px;
	border-bottom: 7px solid #999;
	transition: all .3s;
}

	.button3d.large:active{
		box-shadow: inset 0px 5px 5px #555;
	}

.button3d.green{
	background: #76c31d;
	border-color: #49880b;
}

	.button3d.green:hover{
		background: #80d420;
	}

.button3d.orange{
	background: #f9ac08;
	border-color: #d59102;
}

	.button3d.orange:hover{
		background: #fdc243;
	}
	
.button3d.blue{
	background: #389bb2;
	border-color: #1e7b91;
}

	.button3d.blue:hover{
		background: #44bad5;
	}
	
.button3d.purple{
	background: #939;
	border-color: #936;
}

	.button3d.purple:hover{
		background: #96C;
	}