/* ------ CONTAINER ------ */

.container{
	width: 96%;
	max-width: 1000px;
	margin: 20px auto;
	padding: 15px;
	background: white;
	box-shadow: 0px 0px 2px #777;
	border: 1px solid #777;
}

#subtitle{
	color: black;
}

h4.page-title{
	margin-top: 5px;
}


.red_outline{
	border: 2px solid red;
	border-radius: 5px;
	margin: -1px -2px -1px -2px;
}

#models{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	min-height: 200px;
	margin-top: 25px;
}


.model{
	width: 150px;
	min-height: 170px;
	margin: 10px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

	.model img{
		transition: all .2s ease-in-out;
		width: 100px;
		height: 100px;
	}
	
		.model img:hover{
			width: 128px;
			height: 128px;
		}
		
.model2{
	width: 150px;
	min-height: 150px;
	margin: 10px;
	padding: 5px;
	border: 1px solid #DDD;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}

.content_footer{
	background: url('../../img/content_footer.png') repeat-x 0 0;
	width: 100%;
	height: 103px;
}


.rating_bg{
	width: 320px;
	height: 64px;
	background: yellow;
	background: url('../../img/star_bg.png') repeat-x 0 0;
	margin: auto;
}

	.rating_bg .rating{
		float: left;
		position: relative;
		clear: both;
		left: 0;
		top:0;
		width: 100%;
		height: 64px;
		background: url('../../img/star.png') repeat-x 0 0;
	}
	
.map{
	direction: ltr;
	width: 100%;
	height: 350px;
}

	.map img{
		max-width: none;
	}
	
	.map label { 
	 	width: auto; display:inline; 
	} 
	
.member_panel{
	margin-top: 10px;
	width: 100%;
	max-width: 1000px;
}

	.member_panel .orders{
		padding: 0.5%;
		width: 45%;
		height: 168px;
		float: right;
		background: #7e00b3 url('../../img/member_orders.png') no-repeat top right;
	}
	
		.member_panel .orders .list{
			float: left;
			width: 87%;
			height: 100%;
			background: white;
			margin: 0;
			overflow-y: scroll;
		}
		
			.member_panel .orders .list li{
				padding-right: 25px;
				background: #ddd url('../../img/member_list_item.png') no-repeat center right;
				font: normal 13px "WYekan";
			}
			
			.member_panel .orders .list li:hover{
				background-color: #999;
				
			}
		
	.member_panel .add_order{
		padding: 5px;
		width: 17%;
		height: 168px;
		float: right;
		background: url('../../img/member_add_order.png') no-repeat top right;
	}
	
		.member_panel .add_order:hover{
			opacity: 0.8;
		}
		
	.member_panel .messages{
		padding: 0.5%;
		width: 45%;
		height: 168px;
		float: right;
		background: #ffa200 url('../../img/member_messages.png') no-repeat top right;
	}
	
		.member_panel .messages .list{
			float: left;
			width: 87%;
			height: 100%;
			background: white;
			margin: 0;
			overflow-y: scroll;
		}
		
			.member_panel .messages .list li{
				padding-right: 25px;
				background: #ddd url('../../img/member_list_item.png') no-repeat center right;
				font: normal 13px "WYekan";
			}
			
			.member_panel .messages .list li:hover{
				background-color: #999;
				
			}
	
		
	.member_panel .charge_balance{
		cursor: pointer;
		width: 18%;
		height: 180px;
		float: right;
	}
	
		.member_panel .charge_balance .front{
			padding: 5px;
			width: 100%;
			height: 168px;
			float: right;
			background: url('../../img/member_charge_balance.png') no-repeat top center;
		}
		
		.member_panel .charge_balance .back{
			padding: 5px;
			width: 100%;
			height: 168px;
			float: right;
			background: url('../../img/member_charge_balance_bg.png') no-repeat top right;
		}
		
	.member_panel .panel{
		text-align: center;
		padding: 0.5%;
		width: 34%;
		height: 350px;
		float: left;
		background: url('../../img/member_panel_red.png');
	}
	
		.member_panel .panel .profile_image{
			background: white;
			box-shadow: 0 0 3px #111;
			position: relative;
			top: -10%;
			width: 35%;
			height: 35%;
			border-radius: 50%;
		}
		
		.member_panel .panel .id, .member_panel .panel .name{
			color: white;
			text-shadow: 0 0 3px #111;
			position: relative;
			top: -20px;
		}
		
		.member_panel .panel .balance{
			margin: auto;
			width: 70%;
			position: relative;
			top: 0px;
		}
		
			.member_panel .panel .balance .text{
				width: 100%;
				height: 20px;
				padding: 8px 10px 8px 0;
				background: white;
				border-radius: 20px 0 0 20px;
				box-shadow: 0 0 3px #111;
				text-align: center;
			}
		
			.member_panel .panel .balance .icon{
				background: #ffcc00 url('../../img/balance.png') no-repeat center;
				width: 50px;
				height: 50px;
				border-radius: 50px;
				position: relative;
				top: -55px;
				right: -10px;
				box-shadow: 0 0 3px #111;
			}
			
			
		.member_panel .panel .circle{
			float: right;
			margin: -35px 5px;
		}
		
			.member_panel .panel .circle .number{
				margin: auto 7px;
				font-size: 35px;
				text-shadow: 0 0 1px #111;
				line-height: 50px;
				padding: 10px 0 -5px 0;
				width: 60px;
				height: 60px;
				border-radius: 50px;
				background: white;
				box-shadow: 0 0 3px #111;
				text-align: center;
			}
			
			.member_panel .panel .circle .text{
				color: white;
				font-size: 12px;
				line-height: 15px;
			}