/* ------ DEFAULTS ------ */

/* PRESETS */

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	font: normal 11px Tahoma;
	direction: rtl;
	background: #dfdfe0 url('../../img/bg.png');
}

a{
	color: #666;
	text-decoration:none;
	transition: all .4s;
}
	a:hover{
		color: darkblue;
		text-decoration: none;
	}
	
h1, h2, h3, h4, h5, h6{
	font-family: 'WYekan', B Yekan, Arial;
}

p{
	font-family: Tahoma;
}

.Yekan{
	font-family: 'WYekan', B Yekan, Arial;
}

.tahoma{
	font-family: Tahoma;
}

.size-11{
	font-size: 11px;
}

.normal{
	font-weight: normal;
}

.underline{
	text-decoration: underline;
}

.bold{
	font-weight: bold;
}

.middle{
	vertical-align: middle;
}

/* PRINT */

@media print{
    .no-print{
    	display: none;
    }
}