/* DROPBOX */

#dropbox{
	direction: ltr;
}

#dropbox div.file-cell{
	box-shadow: 5px solid #000;
	border: 1px solid #DDD;
	float: left;
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	text-align: center;
	min-width: 100px;
	display: inline-block;
}