/* ------ FONTS ------ */

@font-face {
	font-family: 'WYekan';
	src: url('../../fonts/WYekan.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WYekan';
	src: url('../../fonts/WYekanBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}