/* ------ FOOTER ------ */

.footer{
	clear: both;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #111;
	padding: 10px 0;
	color: #CCC;
	font: normal 13px 'WYekan', B Yekan, Tahoma;
}

	.footer .copyright{
		float: right;
		margin-right: 20px;
	}
	
	.footer .designer{
		float: left;
		margin-left: 20px;
	}
	
	.footer .links{
		float: left;
		margin-left: 20px;
	}