/* ------ HEADER ------ */

.wrapper{
	min-height: 100%;
	width: 100%;
	position: absolute;
}

.logo{
	text-align: center;
}

.loading{
	float: left;
	text-align: center;
	width: 32px;
	height: 32px;
	z-index: 999;
	margin: 7px 5px 0;	
}

.top-identifier{
	
	float: left;
	background: #DDD;
	height: 35px;
	padding: 1px 10px 4px 10px;
	transition: all .15s ease-in-out;
	border-radius: 3px 0 0 3px;
	background: #b7deed; /* Old browsers */
	background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7deed), color-stop(50%,#71ceef), color-stop(51%,#21b4e2), color-stop(100%,#b7deed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
}

.top-identifier:hover{
	box-shadow: inset 0 -3px 10px #0b98b6;
}

	.top-identifier img#profile_image{
		margin-right: 10px;
		float: left;
		padding: 1px;
		background: white;
		display:block;
		border-radius: 50%;
	}
	
	.top-identifier h5.name{
		color: white;
		float: right;
	}
	
.top-statistics{
	margin-right: 1px;
	float: left;
	background: #DDD;
	height: 35px;
	padding: 1px 10px 4px 10px;
	transition: all .15s ease-in-out;
	border-radius: 0 3px 3px 0;
	background: #e6f0a3; /* Old browsers */
background: -moz-linear-gradient(top,  #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f0a3), color-stop(50%,#d2e638), color-stop(51%,#c3d825), color-stop(100%,#dbf043)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */


}

.top-statistics:hover{
	box-shadow: inset 0 -3px 10px #393;
}

	
	.top-statistics h5.title{
		color: white;
		float: right;
	}