#qTip{
	border-radius:3px;
	z-index: 999;
	min-width:40px;
	min-height:14px;
	text-align:center;
	padding:0px 5px;
	filter:alpha(opacity=80);
	opacity:0.8;
	color: white;
	display: none;
	position:absolute;
	margin: 10px;
	max-width: 300px;
	background: black !important;
	direction: rtl;
	word-wrap: break-word;
	font: normal 13px 'WYekan', B Yekan, Tahoma;
}