/* SPINNER 13 */

.spinner {
  transform: translate(-50%,-25%);
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(45deg);  
}

.loading div {
  width: 25%;
  height: 25%;
  position: absolute;
}

.l1 div, .l2 div, .l3 div, .l4 div {
  width: 100%;
  height: 100%;
  background-color: #3498db;
}

.l1 { transform: translate(0,0); }
.l2 { transform: translate(0,50%); }
.l3 { transform: translate(50%,0%); }
.l4 { transform: translate(50%,50%); }

@keyframes rot1 {
  0%{ transform: rotate(0deg); }
  40%{ transform: rotate(0deg); }
  50%{ transform: rotate(0deg); }
  60%{ transform: rotate(90deg); }
  100%{ transform: rotate(90deg); }
}

@keyframes rot2 {
  0%{ transform: rotate(0deg); }
  40%{ transform: rotate(0deg); }
  50%{ transform: rotate(0deg); }
  60%{ transform: rotate(-90deg); }
  100%{ transform: rotate(-90deg); }
}

@keyframes rot3 {
  0%{ transform: rotate(45deg); }
  35%{ transform: rotate(45deg); }
  65%{ transform: rotate(405deg); }
  100%{ transform: rotate(405deg); }
}

@keyframes l1-rise {
  0%{ transform: translate(0%,0%); }
  30%{ transform: translate(-25%, -25%); }
  70%{ transform: translate(-25%, -25%); }
  100%{ transform: translate(0%, 0%); }
}

@keyframes l2-rise {
  0%{ transform: translate(0,50%); }
  30%{ transform: translate(-25%, 62.5%); }
  70%{ transform: translate(-25%, 62.5%); }
  100%{ transform: translate(0,50%); }
}

@keyframes l3-rise {
  0%{ transform: translate(50%, 0%); }
  30%{ transform: translate(62.5%, -25%); }
  70%{ transform: translate(62.5%, -25%); }
  100%{ transform: translate(50%, 0%); }
}

@keyframes l4-rise {
  0%{ transform: translate(50%,50%); }
  30%{ transform: translate(62.5%, 62.5%); }
  70%{ transform: translate(62.5%, 62.5%); }
  100%{ transform: translate(50%,50%); }
}

@keyframes color {
  0%{ background-color: #3498db; }
  50%{ background-color: #2980b9; }
  100%{ background-color: #3498db; }
}

.l1 { animation: l1-rise 3s ease 0s infinite; }
.l2 { animation: l2-rise 3s ease 0s infinite; }
.l3 { animation: l3-rise 3s ease 0s infinite; }
.l4 { animation: l4-rise 3s ease 0s infinite; }

.l1 div, .l4 div { animation: rot1 3s ease 0s infinite, color 3s linear 0s infinite; }
.l2 div, .l3 div { animation: rot2 3s ease 0s infinite, color 3s linear 0s infinite; }