/* ------ DEFAULTS ------ */

/* PRESETS */

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a, a:hover{
	text-decoration: none;
}

body{
	font: normal 11px Tahoma;
}

	
h1, .h1, h2, .h2, h3, .h3, h4 ,.h4, h5, .h5, h6, .h6{
	font-family: 'WYekan', B Yekan;
	line-height: 100%;
}

h1, .h1{
	font-size: 25px;
}

h2, .h2{
	font-size: 20px;
}

h3, .h3{
	font-size: 18px;
}

h4, .h4{
	font-size: 15px;
}

h5, .h5{
	font-size: 13px;
}

h6, .h6{
	font-size: 11px;
}

p{
	font: normal 11px Tahoma;

}

.tahoma{
	font-family: Tahoma;
}

.size-11{
	font-size: 11px;
}

.normal{
	font-weight: normal;
}

.bold{
	font-weight: bold;
}

/* PRINT */

@media print{
    .no-print{
    	display: none;
    }
}
