/* ------ TABLES ------ */

.table{ padding: 0 10px; }
	
.table, .table tr, .table tr td{ text-align: center; padding: 0;}

.table-right, .table-right tr, .table-right tr td{ text-align: right;}

.table-left, .table-left tr, .table-left tr td{ text-align: left;}